<html lang="cn" xmlns:th="http://www.thymeleaf.org">


<!DOCTYPE html>


<head>
    <meta charset="UTF - 8">
    <title></title>
</head>

<body>


<div style="display: flex;justify-content: center;align-items: center;background-color: #e6a44c;height: 100%">

    <div style="background-color: white;width: 90%;height: 90%;display: flex;;;justify-content: center;">

        <div style="width: 80%;">
            <button style="margin: 10px;display: block; position: absolute;right: 8%;top: 8%; padding: 10px 20px; background-color: #a55200; color: white; border: none; border-radius: 5px; cursor: pointer;"
                    onclick="goBack()">返回上一页
            </button>
            <div style="margin-top: 5%">
                <div style="font-size: 30px;">
                    <span style="font-weight: bold">文献来源：</span><span
                        th:text="${dsArticle.source}"></span>
                </div>
                <div style="display: flex;align-items: center;justify-content: center;font-size: 25px"><h1
                        th:text="${dsArticle.title}"></h1></div>
                <div style="display: flex;align-items: center;justify-content: center;font-size: 22px;"><span
                        style=";font-weight: bold"> 作者：</span><span th:text="${dsArticle.author}"></span>
                </div>
                <div style="font-size: 25px;font-weight: bold">摘要：</div>
                <p style="font-size: 22px;letter-spacing: 1.2px;line-height: 1.2; text-indent: 2em;"
                   th:text="${dsArticle.summary}">

                </p>

                <span style="font-size: 20px;font-weight: bold">关键词：</span><span style="font-size: 20px;"
                                                                                    th:text="${dsArticle.keyword}"></span>

                <div style="margin-top: 10px;font-size: 20px;">
                    <span style="font-size: 20px;font-weight: bold">发表日期：</span><span
                        th:text="${#dates.format(dsArticle.pubTime, 'yyyy-MM-dd')}"></span>

                </div>

                <div style="margin-top: 10px;font-size: 20px;">
                    <span style="font-size: 20px;font-weight: bold">链接：</span> <a th:href="${dsArticle.articleText}"
                                                                                    target="_blank" th:text="${dsArticle.articleText}"></a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    // 定义返回上一页的函数
    function goBack() {
        window.history.back();
    }

    // function getTonewPage (url){
    //     alert(url)
    // }


</script>

</html>